@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&display=swap');

.font-outfit {
  font-family: 'Outfit', sans-serif;
}
